<!DOCTYPE html>
<html>
<head>
    <title>Net\work Servertjeneste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <header>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-inner">
                 <a class="brand" href="/">Net\work</a>
                 <ul class="nav">
                     <li class="active"><a href="/">Home</a></li>
                     <li><a href="/server">Server</a></li>
                     <li><a href="/login">Login</a></li>
                     <li><a href="/logout">Log out</a></li>
                 </ul>
             </div>
        </div>
    </header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>