{% extends "base.html" %}
{% block content %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box2" style="margin-right: 17px">
    <a href="{{ url_for('servadmin') }}" class="menu-link"><h3>Service Administrasjon</h3></a>
    </div>
    <div class="box2" style="margin-right: 17px">
    <a href="{{ url_for('uadmin') }}" class="menu-link"><h3>Bruker Administrasjon</h3></a>
    </div>
    <div class="box2">
    <a href="{{ url_for('subadmin') }}" class="menu-link"><h3>Abonnement Administrasjon</h3></a>
    <a href="{{ url_for('gccreate') }}" class="menu-link"><h3>Gavrkort Administrasjon</h3></a>
</div></div></div>

{% endblock %}
