<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="stylesheet" type="text/css" href="static/style2.css" />
    {% if title %}
    <title>{{title}} - net/work CP</title>
    {% else %}
    <title>net/work CP</title>
    {% endif %}
  </head>
  <body>
    <div class="div-nav">
    <nav>
        <div class="menu-tab"><a href="{{ url_for('index') }}" class="menu-link">Home</a></div>
        {% if 'logged_in' in session %}
            {% if 'premium' in session %}
        <div class="menu-tab"> <a href="{{ url_for('server') }}" class="menu-link">Server Control</a></div>
        <div class="menu-tab"> <a href="{{ url_for('manage') }}" class="menu-link">Manage</a></div>
            {% endif %}
          {% if 'admin' in session %}
        <div class="menu-tab"> <a href="{{ url_for('server') }}" class="menu-link">Server Control</a></div>
        <div class="menu-tab"> <a href="{{ url_for('manage') }}" class="menu-link">Manage</a></div>
        <div class="menu-tab"> <a href="{{ url_for('uadmin') }}" class="menu-link">User Administration</a></div>
           {% endif %}
        <div class="menu-tab"> <a href="{{ url_for('subscribe') }}" class="menu-link">Subscribe</a></div>
        <div class="menu-tab"> <a href="{{ url_for('logout') }}" class="menu-link">Logout</a></div>
        {% else %}
        <div class="menu-tab"> <a href="{{ url_for('signup') }}" class="menu-link">Signup</a></div>
        {% endif %}
    </nav>
    </div>
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  <div class="content-box">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>