<html>
  <head>
    {% if title %}
    <title>{{title}} - Net\work CP</title>
    {% else %}
    <title>Net\work CP</title>
    {% endif %}
  </head>
  <body>
    <div>Net\work CP:
        <a href="{{ url_for('index') }}">Home</a>
        {% if 'logged_in' in session %}
        | <a href="{{ url_for('server') }}">Server Control</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        | <a href="{{ url_for('signup') }}">Signup</a>
        {% endif %}

    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>