<html>
  <head>
    {% if title %}
    <title>{{title}} - net/work CP</title>
    {% else %}
    <title>net/work CP</title>
    {% endif %}
  </head>
  <body>
    <div>net/work CP:
        <a href="{{ url_for('index') }}">Home</a>
        {% if 'logged_in' in session %}
            {% if 'premium' in session %}
        | <a href="{{ url_for('server') }}">Server Control</a>
        | <a href="{{ url_for('manage') }}">Manage</a>
            {% endif %}
          {% if 'admin' in session %}
        | <a href="{{ url_for('server') }}">Server Control</a>
        | <a href="{{ url_for('manage') }}">Manage</a>
        | <a href="{{ url_for('uadmin') }}">User Administration</a>
           {% endif %}
        | <a href="{{ url_for('logout') }}">Logout</a>

        {% else %}
        | <a href="{{ url_for('signup') }}">Signup</a>
        {% endif %}



    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>