{% extends "base.html" %}
{% block content %}
<div class="content"><div class="inner-box2">
    <div class="box" style="width: 1150px; height: 150px; margin-bottom: 10px" >
    <br>
    <h1>Hi {{ user }}! {{ errmes }}</h1>
    <br><br>
    <h3>{{ newstitle }}<br></h3>
    {{ newsbody }}<br>
    </div>
    <div class="box" style="width: 370px; height: 300px; float: left; margin-right: 17px">
    <br><br>
    <h3>{{ servtitle }}</h3><br>
    {{ servbody }}<br>
    <br><br>
    </div>
    <div class="box" style="width: 370px; height: 300px; float: left; margin-right: 17px" >
    <br><br>
    <h3>{{ eventtitle }}</h3><br>
    {{ eventbody }}<br>
    </div>
    <div class="box" style="width: 370px; height: 300px; float: left" >
    <br><br>
    <h3>{{ promotitle }}</h3><br>
    {{ promobody }}<br>
</div></div></div>
{% endblock %}

#Service, events, promo, propaganda (stor)