{% extends "base.html" %}
{% block content %}
<div class="content"><div class="inner-box2">
    <div class="box" style="width: 1170px; height: 200px; margin-bottom: 10px" >
    <br>
    <h1>{{ errmes }}</h1>
    <a href="{{ url_for('subscribe') }}"><img src="static/images/eyecatch.gif" style="display: block;
    margin-left: auto;
    margin-right: auto"><br/></a>
    <h4>{{ newstitle }}<br></h4>
    {{ newsbody }}<br>
    </div>
    <div class="box" style="width: 370px; height: 300px; float: left; margin-right: 17px">
    <br><img src="static/images/service.png"/>
    <h3>{{ servtitle }}</h3><br>
    {{ servbody }}<br>
    <br><br>
    </div>
    <div class="box" style="width: 370px; height: 300px; float: left; margin-right: 17px" >
    <br><img src="static/images/event.png"/>
    <h3>{{ eventtitle }}</h3><br>
    {{ eventbody }}<br>
    </div>
    <div class="box" style="width: 370px; height: 300px; float: left" >
    <br><img src="static/images/promo.png"/>
    <h3>{{ promotitle }}</h3><br>
    {{ promobody }}<br>
</div></div></div>
{% endblock %}

#Service, events, promo, propaganda (stor)