{% extends "base.html" %}
{% block content %}
<div class="content"><div class="inner-box2">
<div class="box" style="width: 1150px; height: 150px; margin-bottom: 10px" >
<br>
<h1>Hi {{ user }}! {{ errmes }}</h1>
<br><br>
<p>Welcome to Gameserver.no!</p>
</div>
<div class="box" style="width: 370px; height: 600px; float: left; margin-right: 17px">
<br><br>
Service box
<br><br>
<p>Welcome to Gameserver.no!</p>
</div>
<div class="box" style="width: 370px; height: 600px; float: left; margin-right: 17px" >
<br><br>
Event box
<br><br>
<p>Welcome to Gameserver.no!</p>
</div>
<div class="box" style="width: 370px; height: 600px; float: left" >
<br><br>
Promo box
<br><br>
<p>Welcome to Gameserver.no!</p>
</div>
</div></div>
{% endblock %}

#Service, events, promo, propaganda (stor)