{% extends "base.html" %}
{% block content %}
<br>
<div class="content"><div class="inner-box">
<p> Here you can manage your server instances, or order a new one!</p>
    <form method=post action="/manage" name="start">
        <input type="text" name="server">
        <input type="text" name="port">
        <input type="submit" name="submit" value="servCreate">
    </form>
    <br>
    -----------------------------<br>
    <form method="post" action="/manage" name="propset">
    {% for role in form %}
    <tr>
    {% if role.type == "BooleanField" %}
        <td></td>
        <td>{{ role }} {{ role.label }}</td>
    {% else %}
        <td>{{ role }}</td>
    {% endif %}
    </tr>
    {% endfor %}
    <input type="submit" name="submit" value="propchange">
    </form>
    <div class="inner-box2">
    <b>Server.properties file:</b><br>
    {% for line in properties %}
    {{ line }}<br>
    {% endfor %}
    </div></div></div>
{% endblock %}