{% extends "base.html" %}
{% block content %}
<br>
<div class="content"><div class="inner-box">
<h3>Please choose the Minecraft Server Type you want:</h3>
       <li><a href="/mcsubscribe?subtype=Small">Standard Minecraft Server</a> <br> This is: XX for 1 month, XXX for 3 months and XXX for 6 months <hr></li>
       <li><a href="/mcsubscribe?subtype=Medium">Medium Minecraft</a> <br> This is: XX for 1 month, XXX for 3 months and XXX for 6 months<hr></li>
       <li><a href="/mcsubscribe?subtype=Medium">Large Minecraft</a> <br> This is: XX for 1 month, XXX for 3 months and XXX for 6 months<hr></li>
</div></div>
{% endblock %}