{% extends "base.html" %}
{% block content %}
<div class="content"><div class="inner-box">
<br>
<h1>Hi {{ user }}!</h1>
<br><br>
<p>Please choose the Minecraft Server Type you want:</p>
       <li><a href="/mcsubscribe?subtype=1">Standard Minecraft Server</a> <br> This is: XX for 1 month, XXX for 3 months and XXX for 6 months <hr></li>
       <li><a href="/mcsubscribe?subtype=2">Medium Minecraft</a> <br> This is: XX for 1 month, XXX for 3 months and XXX for 6 months</li>
</div></div>
{% endblock %}