{% extends "base.html" %}
{% block content %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box2" style="margin-right: 17px">
    <h1>Manage servers</h1><br><br>
    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/servadmin">
        {{ render_field(form.servername) }}
        {{ render_field(form.serverip) }}
        <br><input type="submit" value="Add Server" name="submit">
    </form>
        <b>ID, Name and IP for servers:</b>
        <iframe width="370" src="servoutput"></iframe>
        <br><br><h3>Delete Server</h3>
        <iframe width="370" src="deleteserver"></iframe>
    </div>
    <div class="box2" style="margin-right: 17px">
    <h1>Manage ports</h1><br><br>
    <h3>Add port on server</h3>
    <form method="post" action="/servadmin">
        {{ render_field(form2.server) }}
        {{ render_field(form2.portno) }}
        {{ render_field(form2.portused) }}
        <input type="submit" value="Add Port" name="submit">
    </form>
    <br><h3>Manually manage port use</h3>
    <form method="post" action="/servadmin">
        {{ render_field(form3.server) }}
        {{ render_field(form3.portno) }}
        {{ render_field(form3.portused) }}
        <input type="submit" value="Update Port" name="submit">
    </form>
    <br><b>Ports on servers that are currently in use: (port, server)</b><br>
        <iframe width="370" src="portoutput"></iframe>
    </div>
    <div class="box2">

</div></div></div>
{% endblock %}