<link rel="stylesheet" type="text/css" href="http://ny.gameserver.no/static/style.css" />
<a href="ny.gameserver.no"><img src="ny.gameserver.no/static/bg-head.png" style="display: block; margin-left: auto; margin-right: auto;"></a>

<div class="box" style="width: 1170px; height: 300px; margin-bottom: 10px" >
<br/>
<h4>Vi takker for din bestilling!</h4>
<p>Her vil du finne din ordreinformasjon:</br>
Din ordrereferanse: {{orderref}} </br>
Din ordre ID hos gameserver.no: {{ ordid }} </br>
Din subscription ID: {{ subid }} </br>
Total pris: {{ totprice }} NOK</br>
Din ordre utløper: {{ordexp}} </br>

    <p>Hilsen</p>
    <p><code>Gameserver.no</code> teamet</p>
    </div>
