
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box">
    <form method=post action="/server" name="start">
    <input type="submit" name="submit" value="Start">
    </form>
<form method="post" action="/server" name="stop">
    <input type="submit" name="submit" value="Stop">
    </form>
    <br><br><b>Here you can send commands to your server instances!</b>
    <form action="/server" method="post" name="sendcommand">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form.command) }}
    <input type="submit" value="Send Command" name="submit">
    </form>
    <br>
    <iframe width="500" height="300" src="mcoutput"></iframe>
    </div></div>
{% endblock %}