
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box">
    <form method=post action="/server" name="start">
    <input type="submit" name="submit" value="Start">
    </form>
<form method="post" action="/server" name="stop">
    <input type="submit" name="submit" value="Stop">
    </form>
    <br>
    Here you can send commands to your server instances!
<form method=post action="/server" name="command">
    <input type="text" name="command">
    <input type="submit" name="submit" value="Send">
</form>
    <br>
    <FRAME src="mcoutput.html">
{% for line in output %}
   <br>{{ line }}
    {% endfor %}
    </div></div>
{% endblock %}