{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box">
<div class="inner-box3" style="float: left;">
<h1>Registrering</h1><br>
<form method=post action="/signup">
  <dl class="list2">
    <li><b>Påkrevde felt er markert med *</b></li>
    <li>{{ render_field(form.username) }}</li>
    <li>{{ render_field(form.email) }}</li>
    <li>{{ render_field(form.password) }}</li>
    <li>{{ render_field(form.confirm) }}</li>
    <li>{{ render_field(form.fname) }}</li>
    <li>{{ render_field(form.lname) }}</li>
    <li>{{ render_field(form.phone) }}</li>
    <li>{{ render_field(form.accept_tos) }}</li>
    </dl>
    <input type="submit" value="Registrer">
    </form>
    </div>
    <div class="inner-box3"><br>
    <p>Eksempel:<br>
    <img src="../static/images/example.png" alt="Example form"></p>
    </div>
</div></div>
{% endblock %}