{% extends "base.html" %}
{% block content %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
        <h1>Subscription Administration</h1><br><br>
        {% from "_formhelpers.html" import render_field %}
        <form action="" method="post">
        {{ render_field(form.sub_name) }}
        {{ render_field(form.sub_description) }}
        {{ render_field(form.sub_type) }}
        {{ render_field(form.sub_days) }}
        {{ render_field(form.sub_hours) }}
        {{ render_field(form.sub_mnd) }}
        {{ render_field(form.sub_limit) }}
        {{ render_field(form.sub_pris) }}<br>
    <input type="submit" value="Add Subscription" name="submit">
    </form>
    </div>
    <div class="box3">
    </div</div></div>
{% endblock %}