{% extends "base.html" %}
{% block content %}
<br>
<div class="content">
    <h4> Om du har Gavekort, trykk <a href="{{ url_for('gccheck') }}">Her!</a></h4><br>
    <div class="inner-box5">
    <h4>Minecraft</h4>
    <div class="box5" style="margin-right: 17px">
    <a href="/mcsubscribe?subtype=MC1024"><img src="/static/images/small.png" style="float:left;"></a>
        This is:<br> <b>120 NOK for 1 month,<br> 360 NOK for 3 months<br> and 720 NOK for 6 months</b>
    </div>
    <div class="box5" style="margin-right: 17px">
    <a href="/mcsubscribe?subtype=MC2048"><img src="/static/images/medium.png" style="float:left;"></a>
        This is:<br><b>220 NOK for 1 month,<br> 660 NOK for 3 months<br> and 1320 NOK for 6 months</b>
    </div>
    <div class="box5">
    <a href="/mcsubscribe?subtype=MC2560"><img src="/static/images/large.png" style="float:left;"></a>
        This is:<br><b> 290 NOK for 1 month,<br> 870 NOK for 3 months<br> and 1740 NOK for 6 months</b>
    </div></div>
    <br>
    <div class="inner-box5">
    <h4>Ventrilo</h4>
    <a href="/mcsubscribe?subtype=Ventrilo">Ventrilo Server</a>
</div></div>
{% endblock %}