{% extends "base.html" %}
{% block content %}
<br>
    <head>
<script type="text/javascript">
function calcPrice(m, s){
var slotprice = {
    1: 33,
    2: 58,
    3: 83,
    4: 108,
    5: 133,
    6: 158,
    7: 184,
    8: 208,
    9: 233,
    10: 258,
    11: 384,
    12: 450,
    13: 500
}
var slotsize = {
    1: 10,
    2: 20,
    3: 30,
    4: 40,
    5: 50,
    6: 60,
    7: 70,
    8: 80,
    9: 90,
    10: 100,
    11: 200,
    12: 300,
    13: 400
}
var totprice = slotprice[s]*m
document.getElementById('sliderStatus').innerHTML = slotsize[s];
document.getElementById('sliderPrice').innerHTML = totprice;
document.getElementById('slideMonths').innerHTML = m
}
</script>
</head>
<div class="content">
    <div class="inner-box5">
    <h4>Minecraft</h4><br>
    <h4 style="font-size: 20"> If you have a gift card, <a href="{{ url_for('gccheck') }}">click here!</a></h4>
    <div class="box5" style="margin-right: 17px">
    <a href="/mcsubscribe?subtype=MC1024"><img src="/static/images/small.png" style="float:left; padding-right: 8px"></a>
        Small server is:<br> <b>1 month: 120 NOK<br>3 months: 360 NOK<br>6 months: 720 NOK</b>
    </div>
    <div class="box5" style="margin-right: 17px">
    <a href="/mcsubscribe?subtype=MC2048"><img src="/static/images/medium.png" style="float:left; padding-right: 8px"></a>
        Medium server is:<br><b>1 month: 220 NOK<br>3 months: 660 NOK<br>6 months: 1320 NOK</b>
    </div>
    <div class="box5">
    <a href="/mcsubscribe?subtype=MC2560"><img src="/static/images/large.png" style="float:left; padding-right: 8px"></a>
        Large server is:<br><b>1 month: 290 NOK<br>3 months: 870 NOK<br>6 months: 1740 NOK</b>
    </div></div>
    <br>
    <div class="inner-box5" style="height: 440px">
    <img src="/static/images/ventrilo-logo.gif" style="display: block; margin-left: auto; margin-right: auto"><br><br>
      <div class="slider">
          <form method="post" action="/ventsub">
        <input id="slotSlider" name="slotSlider" type="range" min="1" max="13" value="1" step="1" onChange="calcPrice(monthSlider.value, this.value)"></input>
        <br/><br/>
    Ventrilo slots: = <span id="sliderStatus">10</span> <br/><br/>
        <input id="monthSlider" name="monthSlider" type="range" min="1" max="6" value="1" onChange="calcPrice(this.value,slotSlider.value )"><br/>Måneder: <span id="slideMonths">1</span></input><br/><br/>
    Pris per måned: = <span id="sliderPrice">33</span> NOK
       <br/>     <input type="submit" value="Neste Steg" name="submit">

            </form>
          <div id="vent_info" class="box" style="margin-right:110px;">
              <p>Gameserver.no er en autorisert forhandler av Ventrilo-servere, hvilket betyr at vi leier ut Ventrilo PRO servere (versjon 3.x).<br/> Med Ventriloserver fra Gameserver.no er du sikret lav ping og en server som alltid er tilgjengelig når du skal spille clankamp,<br/> spille raid i World of Warcraft eller bare snakke med kompisene dine.<br/> Hos oss er alle codecs tillatt, og du bytter enkelt codec via kontrollpanelet vårt.</p>
          </div>
</div>
</div></div>
{% endblock %}