{% extends "base.html" %}
{% block content %}
<br>
    <head>
<script type="text/javascript">
function calcPrice(m, s){
var slotprice = {
    1: 33,
    2: 58,
    3: 83,
    4: 108,
    5: 133,
    6: 158,
    7: 184,
    8: 208,
    9: 233,
    10: 258,
    11: 384,
    12: 450,
    13: 500
}
var slotsize = {
    1: 10,
    2: 20,
    3: 30,
    4: 40,
    5: 50,
    6: 60,
    7: 70,
    8: 80,
    9: 90,
    10: 100,
    11: 200,
    12: 300,
    13: 400
}
var totprice = slotprice[s]*m
document.getElementById('sliderStatus').innerHTML = slotsize[s];
document.getElementById('sliderPrice').innerHTML = totprice;
document.getElementById('slideMonths').innerHTML = m
}
</script>
</head>
<div class="content">
    <div class="inner-box5">
    <h4>Minecraft</h4><br>
    <h4 style="font-size: 20">Hvis du har et gavekort, <a href="{{ url_for('gccheck') }}">trykk her</a></h4>
    <div class="box5" style="margin-right: 17px">
    <a href="/mcsubscribe?subtype=MC1024"><img src="/static/images/liten.png" style="float:left; padding-right: 8px"></a>
        Priser for liten server:<br> <b>1 måned: 120 NOK<br>3 måneder: 360 NOK<br>6 måneder: 720 NOK</b>
    </div>
    <div class="box5" style="margin-right: 17px">
    <a href="/mcsubscribe?subtype=MC2048"><img src="/static/images/middels.png" style="float:left; padding-right: 8px"></a>
        Priser for middels server:<br><b>1 måned: 220 NOK<br>3 måneder: 660 NOK<br>6 måneder: 1320 NOK</b>
    </div>
    <div class="box5">
    <a href="/mcsubscribe?subtype=MC2560"><img src="/static/images/stor.png" style="float:left; padding-right: 8px"></a>
        Priser for stor server:<br><b>1 måned: 290 NOK<br>3 måneder: 870 NOK<br>6 måneder: 1740 NOK</b>
    </div></div>
    <br>
    <div class="inner-box5" style="height: 550px">
    <img src="/static/images/ventrilo-logo.gif" style="display: block; margin-left: auto; margin-right: auto"><br><br>
    <div class="box6">
        <div class="slider">
          <form method="post" action="/ventsub"><br>
        <h2>Slots</h2><br><br><br>
        <input id="slotSlider" name="slotSlider" type="range" min="1" max="13" value="1" step="1" onChange="calcPrice(monthSlider.value, this.value)"></input>
        <br><br>
    Ventrilo slots: = <span id="sliderStatus">10</span><br><br>
        <h2>Måneder</h2><br><br><br>
        <input id="monthSlider" name="monthSlider" type="range" min="1" max="6" value="1" onChange="calcPrice(this.value,slotSlider.value )"><br><br>Måneder: <span id="slideMonths">1</span></input><br/><br/>
    Pris per måned: = <span id="sliderPrice">33</span> NOK
       <br>     <input type="submit" value="Neste Steg" name="submit">
            </form>
          <div id="vent_info" class="box" style="width: 800px">
              <p>Gameserver.no er en autorisert forhandler av Ventrilo-servere, hvilket betyr at vi leier ut Ventrilo PRO servere (versjon 3.x).<br/> Med Ventriloserver fra Gameserver.no er du sikret lav ping og en server som alltid er tilgjengelig når du skal spille clankamp,<br/> spille raid i World of Warcraft eller bare snakke med kompisene dine.<br/> Hos oss er alle codecs tillatt, og du bytter enkelt codec via kontrollpanelet vårt.</p>
</div></div></div></div></div>
{% endblock %}