{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    <form method="post">
    {{ render_field(form.subsel) }}
    <br>
    <input type="submit" value="Start betalingsprosessen">
    </form><br><br>
    Denne transaksjonen blir håndtert av PayEx.<br>
    <img src="/static/images/payex.png">

    </div>
    <div class="box3">
        <h2>Beskrivelse av ordren:</h2><br><br><br>
        <div class="box">
        <p>Her er en beskrivelse av ordren din:</p>
       Beskrivelse: {{ subdescription }}<br>
       Type:        {{ subtype }}<br>
        <hr>
       <p>Prisen avhenger av hvor mange måneder du abonnerer.</p>
            </div>
</div></div></div>
{% endblock %}