{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    <form method="post">
    {{ render_field(form.subsel) }}
    <br>
    <input type="submit" value="Start Payment Process">
    </form>


     <p>This payment is handled by PayEx, a third party that will handle your payment in a safe manner.</p>
         <img src="/static/images/payex.png">

    </div>
    <div class="box3">
        <h2>Order Description:</h2><br><br><br>
        <div class="box">
        <p>   Here is the description of your order:</p>
       Description: {{ subdescription }}<br>
       Type:        {{ subtype }}<br>
        <hr>
       <p>Price depends on how many months you subscribe.</p>
            </div>
</div></div></div>
{% endblock %}