{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import form_field %}
<br>
<div class="content"><div class="inner-box">
  Select Role and User
    <form action="/uadmin" method="post" name="rolechange">
   {% for role in form %}
    <tr>
    {% if role.type == "BooleanField" %}
        <td></td>
        <td>{{ role }} {{ role.label }}</td>
    {% else %}
        <td>{{ role }}</td>
    {% endif %}
    </tr>
    {% endfor %}
    <input type="submit" value="rolechange" name="submit">
    </form>
    <br><br>Change User info here
    <form action="/uadmin" method="post" name="changeinfo">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form2.usersel) }}
        {{ render_field(form2.username) }}
        {{ render_field(form2.pwdfield) }}
        {{ render_field(form2.email) }}
        {{ render_field(form2.fname) }}
        {{ render_field(form2.lname) }}
        {{ render_field(form2.phone) }}
        {{ render_field(form2.note) }}
    <p><input type="submit" value="changeinfo" name="submit"></p>
</form>
</div></div>
{% endblock %}