{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import form_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box2" style="margin-right: 17px">
    <b>Select User and Role</b>
    <form action="/uadmin" method="post" name="changerole">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form.usersel) }}
        {{ render_field(form.role) }}
    <p><input type="submit" value="Change Role" name="submit" onclick="return confirm('Are you sure?')"></p>
    </form>
    </div>
    <div class="box2" style="margin-right: 17px">
    <b>Delete User here</b>
    <form action="/uadmin" method="post" name="deleteuser">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form3.usersel) }}
    <p><input type="submit" value="Delete User" name="submit" onclick="return confirm('Are you sure?')"></p>
    </form>
    </div>
    <div class="box2">
    <b>Change User info here</b>
    <form action="/uadmin" method="post" name="changeinfo">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form2.usersel) }}
        {{ render_field(form2.username) }}
        {{ render_field(form2.pwdfield) }}
        {{ render_field(form2.email) }}
        {{ render_field(form2.fname) }}
        {{ render_field(form2.lname) }}
        {{ render_field(form2.phone) }}
        {{ render_field(form2.note) }}
    <p><input type="submit" value="Change Info" name="submit" onclick="return confirm('Are you sure?')"></p>
    </form>
</div></div></div>
{% endblock %}