{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import form_field %}
<br>
<div class="content"><div class="inner-box">
  Select Role and User
    <form action="/uadmin" method="post" name="rolechange">
   {% for role in form %}
    <tr>
    {% if role.type == "BooleanField" %}
        <td></td>
        <td>{{ role }} {{ role.label }}</td>
    {% else %}
        <td>{{ role }}</td>
    {% endif %}
    </tr>
    {% endfor %}
    <input type="submit" value="rolechange" name="submit">
    </form>
    <br><br>Change Password Here<br>
    <form action="/uadmin" method="post" name="pwdchange">
    {% for field in form2 %}
    <tr>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}

    <input type="submit" value="pwdchange" name="submit">
    </form>
</div></div>
{% endblock %}