{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import form_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    <h4>Change User info here</h4><br>
    <b>(Current password required for any change!)</b><br><br>
    <div class="inner-box3" style="padding:0px 0px 0px 0px;
		border-radius: 0px">
    <form action="/uuadmin" method="post" name="changeinfo">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form.oldpwd) }}
        {{ render_field(form.pwdfield) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.email) }}
        {{ render_field(form.fname) }}
        {{ render_field(form.lname) }}
        {{ render_field(form.phone) }}
    <p><input type="submit" value="Change Info" name="submit"></p>
    </form>
    </div>
    <br><iframe width="300" src="userinfo" style="float: left; overflow: hidden; background: #ffffff; allowtransparency=true"></iframe>
    </div>
    <div class="box3">
    <h4>Current subscription</h4><br><br>
    Here is the description of your subscription:<br>
    Type:        {{ subtype }}<br>
    Description: {{ subdescription }}<br>
    Created: {{ subcreate }}<br>
    Expires: {{ subexpire }}
</div></div></div>
{% endblock %}