{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import form_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    <h4>Endre brukerinformasjon</h4><br>
    <b>(Nåværende passord er påkrevd for alle endringer!)</b><br><br>
    <div class="inner-box3" style="padding:0px 0px 0px 0px;
		border-radius: 0px">
    <form action="/uuadmin" method="post" name="changeinfo">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form.oldpwd) }}
        {{ render_field(form.pwdfield) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.email) }}
        {{ render_field(form.fname) }}
        {{ render_field(form.lname) }}
        {{ render_field(form.phone) }}
    <p><input type="submit" value="Endre informasjon" name="submit"></p>
    </form>
    </div>
    <br><iframe width="300" src="userinfo" style="float: left; overflow: hidden; background: #ffffff; allowtransparency=true"></iframe>
    </div>
    <div class="box3">
    <h4>Nåværende abonnement</h4><br><br>
    Her er en beskrivelse av ditt abonnement:<br>
    <div class="box">
    {% if subtype is not none %}
    <h3>Minecraft</h3>
    Type:        {{ subtype }}<br>
    Beskrivelse: {{ subdescription }}<br>
    Opprettet: {{ subcreate }}<br>
    Utløper: {{ subexpire }}
    {% else %}
        Du har ikke noe Minecraft abonnement
    {% endif %}
    </div>
    <br/>
    <div class="box">
    {% if slots is not none  %}
    <h3>Ventrilo</h3>
    Slots: {{ slots }}<br/>
    Utløper: {{ expiration }}
    {% else %}
        Du har ikke noe Ventrilo abonnement
    {% endif %}
    </div>
</div></div></div>
{% endblock %}