{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    <form method="post" action="/ventsub">

    <br>
    <input type="submit" value="Start Payment Process" name="submit">
    </form>


     <p>This payment is handled by PayEx, a third party that will handle your payment in a safe manner.</p>
         <img src="/static/images/payex.png">

    </div>
    <div class="box3">
        <h2>Order Description:</h2><br><br><br>
        <div class="box">
        <p>   Here is the description of your order:</p>
            Ventrilo Slots: {{ slots }}<br/>
            Antall Måneder: {{ months }}<br/>
            Total Pris:     {{ price }}<br/>
        <hr>
       <p>After the purchase, your IP and port number are to be found at your Manage page, under Ventrilo</p>
            </div>
</div></div></div>
{% endblock %}