{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    <form method="post" action="/ventsub">
    <br>
    <input type="submit" value="Start betalingsprosessen" name="submit">
    </form><br><br>
    Denne transaksjonen blir håndtert av PayEx.<br>
    <img src="/static/images/payex.png">

    </div>
    <div class="box3">
        <h2>Beskrivelse av ordren:</h2><br><br><br>
        <div class="box">
        <p>Her er en beskrivelse av ordren din:</p>
            Ventrilo slots: {{ slots }}<br/>
            Antall måneder: {{ months }}<br/>
            Total pris:     {{ price }}<br/>
        <hr>
       <p>Etter du har betalt så kan du se din IP og port i Ventrilo kontrollpanelet.</p>
            </div>
</div></div></div>
{% endblock %}