{% extends "base.html" %}
{% block content %}
<br>
<div class="content"><div class="inner-box4">
    <div class="box3" style="margin-right: 18px">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/vtserver" name="restart">
    <input type="submit" name="submit" value="Restart serveren">
    </form>
    <form method="post" action="" name="start">
    <input type="submit" name="submit" value="Start serveren">
    </form>
    <form method="post" action="/vtserver" name="restart">
    <input type="submit" name="submit" value="Stopp serveren">
    </form>
    <br><h3>Her kan du endre .ini filen til Ventrilo serveren!</h3>
    <form action="/vtserver" method="post" name="sendcommand">
        {% from "_formhelpers.html" import render_field %}
        {{ render_field(form.key) }}
        {{ render_field(form.value) }}
    <input type="submit" value="Endre instillinger" name="submit">
    </form>
    <br>
    <div class="box">
    {% for line in props %}
    <br>{{ line }}
    {% endfor %}
    </div>
    </div>
    <div class="box3">

    </div></div>
{% endblock %}